.container {
  width: 800px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article {
  width: 400px;
  &--end {
    align-self: self-end;
  }
  &__container {
    display: flex;
    justify-content: flex-start;
    &--reverse {
      flex-direction: row-reverse;
    }
  }
  &__imgContainer {
    width: 100px;
    height: 100px;
    background: blue;
    border-radius: 50%;
    &--squarred {
      border-radius: 0;
    }
  }
  &__title {
    text-align: center;
    margin: 20px 0;
  }
}