.container {
  width: 1140px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between; 
}

.article {
  width: 300px;
  &__imgContainer {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background: blue;
    border-radius: 50%;
    &--squarred {
      border-radius: 0;
    }
  }
  &__title {
    text-align: center;
    margin: 20px 0;
  }
}